  body {
  max-width: 1200px;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: white;
}
body {
  background-image: url("https://www.bitdegree.org/assets/courses/background2.png");
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}
.clearfix {
 
}

/* Title and Description */

.page-title {
  text-align: center;
  margin: auto;
  line-height: 2em;
 
}

.logo {
  height: 80px;
  width: 80px;
  background-image: url("https://www.bitdegree.org/assets/courses/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 1.5em;
}

.page-title h1 {
  display: inline-block;
}

.main {
  text-align: center;
}

.page-description {
  font-size: 0.8rem;
  padding: 30px;
}

.learn-more {
  color: DarkOrange;
  text-decoration: underline;
  display: block;
  margin: 25px 0 20px 0;
  font-weight: bold;
  font-style: italic;
}

.learn-more:link{

color:DarkOrange;

}

.learn-more:visited{

color:red;

}

.learn-more:hover{

color:blue;

}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom:60px;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  width: 240px;
  border: 2px solid GhostWhite;
  border-radius: 4px;
}

/* Footer Navigation */

nav {
  margin-top: 40px;
}

nav ul {
  text-align:center;
}

nav li {
  display: inline;
  margin: 0 40px 0 0;
  color: GhostWhite;
  
}

nav a {
  line-height: 20px;
  border: 2px solid GhostWhite;
  padding: 7px;
  border-radius: 10px;
  color: DarkOrange ;
  text-decoration: underline;
}

.contact-btn {
  cursor: pointer;
  margin: 40px 30px;
  text-align: center;
  
  
}

.contact-btn a:active  {
  position: relative;
  bottom: 20px;
}
    
    
 @media only screen and (min-width: 320px) and (max-width: 480px) {
  
  .gallery-item .thumbnail {
 width:95%;
  }
  
}   
    
@media only screen and (max-width: 480px) {
  .page-title {
    width: 270px;
  }
  
}   


@media only screen and (min-resolution:150dpi) {

.logo {
background-image: url("https://www.bitdegree.org/assets/courses/logo2x.png");
  }
}


    @media only screen and  (max-resolution: 150dpi) and (max-width: 480px)  {
  
  
  .page-description{
    font-size: 20px;
  }
  
}
    
    
    
    @media only screen and (max-width: 480px), (orientation: portrait) {

}
    
    
    
    
    
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape ) {
 
 .page-title, .page-description {
 float: left;
  width: 15em;
}

.page-description {
  text-align: left;
}
 
}
